#sidebar-wrapper{
    min-height: 100vh;
    min-width: 15%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    height: 70px;
}
.collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
  }